.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #bc5c04;
  border: 1px solid #583b27;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #924905;
  border-color: #641e03;
}